.section{
    width: 1200px;
    margin: 0 auto;
}
.section>img{
    width: 100%;
}
.text {
    font-size: 15px;
    
}

.boxPic01{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxPic01>figure{
    width: calc(33.3333% - 1em);
    margin: 0 0 1em;
    padding: 10px;
    border: 3px solid #ddd;
    box-sizing: border-box;
    text-align: center;
}
.boxPic01>figure>img{
    width: 100%;
}




